@import "../../responsive.scss";

.aboutPage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 10px 50px 50px 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;
        }

        button {
          padding: 12px 24px;
          background-color: #fece51;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          transition: background-color 0.3s;

          &:hover {
            background-color: #eabf50;
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;

          p {
            margin: 0;
            font-size: 18px;
            color: #333;
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }

      .modernExperience {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        background-color: #fcf5f3;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

        h2 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        p {
          font-size: 18px;
          line-height: 1.6;
          color: #333;

          strong {
            font-weight: bold;
            color: #eabf50;
          }
        }
      }
    }
  }

  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      
        padding-top: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;



      img {
        
        padding:20px;
        width: 80%;
        height: auto;
        object-fit: cover;
        border-radius: 50px;

      }
    }
  }
}
